Body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
background: white;
width: 960px;
font-size: 18px;
}

header, nav, section, aside, footer{
    background: #ebebeb;
    text-align: center;
}

Article {
    color: #ebebeb;
    background: #777;
    width: 450px;

}

h1, p {
    color: #777;
}

section {
    width: 495px;
    float: left;
}

footer {
    clear: both;
}

header, nav, footer {
    height: 50px;

}

.middle {
    margin: 5px;
    color: #777;
}

aside {
    float: left;
    color: #777;
    text-align: center;
    width: 400px;
}
.FirstParagraph{
    margin-left: 20px;
    background: white;
    margin-bottom: 20px;
}
